nav {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #6a6a6a, #B9B9B9);
  border-radius: 8px;
  color: white;
  font-size: .9rem;
  margin: 20px 0 0;

  ul {
    padding-left: 20px;

    li {
      display: inline-block;
      margin: 10px 0;
      margin-right: 10px;
    }
  }

  input[type="text"] {
    padding: 8px 10px;
    margin: 5px 10px 5px 0;
    border: none;
    border-radius: 10px;
    display: none;

    @media screen and (min-width: 650px) {
      display: inline;
    }
  }
}
