.photos {
  margin: 20px 0 0;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  zoom: 1;

  @media screen and (min-width: 650px) {
    width: 30%;
    float: left;
  }

  .container {
    padding: 10px 0;
  }

  &--title {
    margin: 0;
    padding: 10px 0;
  }

  &--photo {
    width: calc(20% - 4%);
    margin: 10px 0 0;
    margin-right: 5%;
    float: left;

    &:last-child {
      padding: 0 0 20px;
    }

    &:nth-child(5n) {
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }
}
